html {
	font-family: 'avenir';
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
}

/* Page 1 : ACCUEIL */

.accueil {
	height: 100%;
	background: url(../img/accueil.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accueil form {
	background-color: rgba(255, 255, 255, 0.85);
	width: 55%;
	height: 80%;
	border-radius: 2%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.accueil input {
	outline: none;
	width: 60%;
	height: 60px;
	border: 1px solid grey;
	border-radius: 7px;
	padding-left: 10px;
	font-size: 14px;
	margin-bottom: 60px; 
}

.accueil h1 {
	font-family: 'quicksand';
	font-size: 50px;
	margin-top: 60px;
	color: #191B21;
}

.accueil input::-webkit-input-placeholder {
	color: #C8C8CA;
	font-weight: 300;
}

.accueil input:focus {
	border: 1px solid #60A9FF;
}

.accueil button {
	width: 62%;
	padding: 24px;
	background-color: #60A9FF;
	color: white;
	font-size: 15px;
	border: 0;
	border-radius: 7px;
	outline: none;
}

.accueil p {
	width: 62%;
}

.accueil p a {
	color: #191B21;
	text-decoration: none;
}

/* Page 2 : */
.page-1 nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 13%;
	background-color: white;
}

.page-1 nav h2 {
	margin: 0;
	color: white;
	font-family: 'Quicksand';
	font-size: 35px;
}

.page-1 nav img {
	width: 30px;
	height: 30px;
}

.page-1 form {
	width: 60%;
	height: 100%;
	display: flex;
	align-items: center;
	background-color: #F7F8FF;
}

.page-1 nav i {
	font-size: 26px;
	color: grey;
	padding-left: 15px;
}

.page-1 nav input {
	outline: none;
	width: 93%;
	height: 100%;
	padding-left: 10px;
	font-size: 18px;
	background-color: #F7F8FF;
	border: 0;
}

.page-1 nav input::-webkit-input-placeholder {
	color: grey;
	font-weight: 200;
	font-style: italic;
}

.page-1 nav ul {
	display: flex;
	justify-content: space-between;
	width: 20%;
	margin: 0;
	padding: 0;
	height: 100%;
}

.page-1 nav ul li {
	list-style-type: none;
	height: 100%;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.page-1 nav div {
	width: 20%;
	height: 100%;
	background-color: #60A9FF;
	display: flex;
	align-items: center;
	justify-content: center;
}

.touch-event-1 {
	background-color: white;
	
}

.touch-event-2 {
	background-color: #F7F8FF;
	border-radius: 0 0 0 10px
}
