html {
	font-family: 'avenir';
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

/* ------------ PAGE 1 : ACCUEIL --------------- */

.accueil {
	height: 100%;
	background: url(../img/accueil.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accueil form {
	background-color: rgba(255, 255, 255, 0.85);
	width: 55%;
	height: 80%;
	border-radius: 2%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.accueil input {
	outline: none;
	width: 60%;
	height: 60px;
	border: 1px solid grey;
	border-radius: 7px;
	padding-left: 10px;
	font-size: 14px;
	margin-bottom: 60px; 
}

.accueil h1 {
	font-family: 'quicksand';
	font-size: 50px;
	margin-top: 60px;
	color: #191B21;
}

.accueil input::-webkit-input-placeholder {
	color: #C8C8CA;
	font-weight: 300;
}

.accueil input:focus {
	border: 1px solid #60A9FF;
}

form .button {
	width: 60%;
	height: 50px;
	padding: 5px;
	background-color: #60A9FF;
	color: white;
	font-size: 15px;
	border: 0;
	border-radius: 7px;
	outline: none;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

.accueil p {
	width: 62%;
}

.accueil p a {
	color: #191B21;
	text-decoration: none;
}

/* ---------- PAGE 2 : ACTIVITE EN COURS -------------- */


/* POP-UP*/

	
/* pop-up alerte */
	
.pop-up {
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.6);
	/*display : flex;*/
	display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
}

.pop-up-active {
	display: flex;
}

.pop-up-inactive {
	display: none;
}

.pop-up > div {
	background-color: #373843;
	height: 450px;
	width: 65%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	border-radius: 10px;
}

.pop-up img {
	height: 70px;
	width: 70px;
}

.onglet {
	width: 100%;
	height: 60px;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: space-between;
}

.onglet > div {
	color: white;
	font-size: 17px;
	width: 34%;
	height: 60px;
	text-align: center;
	background-color: #FF0F4F;
	justify-content: center;
    display: flex;
    align-items: center;
}

.onglet > div:first-child {
	background-color: #373843;
	/* width: 100%;  A AJOUTER POUR 1 ONGLET */
}

.onglet > div:nth-child(2) {
	border-radius: 0px 0px 8px 0px;
}

.pop-up > div > div:nth-child(2) {
	color: #FF0F4F;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 30px;
}

.pop-up > div > div:nth-child(4) {
	font-size: 22px;
	color: white;
	font-weight: 600;
	text-transform: uppercase;
}

.pop-up > div > div:nth-child(5) {
	width: 100%;
	height: 90px;
	display: flex;
	justify-content: center;
}

.pop-up button {
	width: 34%;/* A AJOUTER POUR 3 ONGLETS */
	height: 60px;
	border-radius: 8px;
	outline: none;
	color: white;
	font-size: 16px;
	font-weight: 300;
}

#prise-charge {
	background-color: #FF0F4F;
	border: 0;
	margin-right: 3%;
}

#occupe {
	border: 1px solid white;
	background-color: transparent;
	margin-left: 3%;
}


/* pop-up formulaire */

#pop-up02 {
	display: none;/*pour cacher*/
}

#pop-up02 form {
	background-color: #373843;
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	color: white;
	font-weight: 200;
	margin-top: 6%;
}

#pop-up02 > form > div {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

#pop-up02 > form > div:nth-child(3) {
	display: flex;
	flex-direction: column !important;
	align-items: baseline !important;
	
}

#pop-up02 textarea {
	width: 97%;
	background-color: #4D4E58;
	border: 0;
	  resize: none;
	  height: 130px;
	  color: white;
	  font-size: 15px;
	  padding: 10px;
	  border-radius: 5px;
}

#pop-up02 > form > input {
	height: 50px;
    width: 46%;
    margin-top: 5%;
    margin: auto;
    border: 0;
    background-color: #FF0F4F;
    color: white;
    font-size: 15px;
    font-weight: 200;
}

#pop-up02 input:focus { 
    outline: none !important;
}

#pop-up02 textarea:focus {
	outline: none !important;
}

#pop-up02 > form > div > div {
	width: 34%;
    justify-content: space-between;
    display: flex;
        align-items: center;
}

#pop-up02 input[type=radio] {
    border: 0px;
    width: 100%;
    height: 2em;
}
#pop-up02 p {
	font-size: 16px;
}



/* nav page 1 */

.page-1 nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 13%;
	background-color: white;
}

.page-1 nav h2 {
	margin: 0;
	color: white;
	font-family: 'Quicksand';
	font-size: 35px;
}

.page-1 nav img {
	width: 32px;
	height: 32px;
}

.page-1 form {
	width: 60%;
	height: 100%;
	display: flex;
	align-items: center;
	background-color: #F7F8FF;
}

.page-1 nav i {
	font-size: 24px;
	color: #8a8a93;
	padding-left: 15px;
}

.page-1 nav input {
	outline: none;
	width: 93%;
	height: 100%;
	padding-left: 10px;
	font-size: 18px;
	background-color: #F7F8FF;
	border: 0;
}

.page-1 nav input::-webkit-input-placeholder {
	color: #8a8a93;
	font-weight: 200;
	font-style: italic;
}

.page-1 nav ul {
	display: flex;
	justify-content: space-between;
	width: 20%;
	margin: 0;
	padding: 0;
	height: 100%;
}

.page-1 nav ul li {
	list-style-type: none;
	height: 100%;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.page-1 nav div {
	width: 20%;
	height: 100%;
	background-color: #60A9FF;
	display: flex;
	align-items: center;
	justify-content: center;
}

.touch-event-1 {
	background-color: white;
}

.touch-event-2 {
	background-color: #F7F8FF;
	border-radius: 0 0 0 10px;
}

.touch-event-2 > img {
	opacity: 0.5;
}


/* menu gauche page 1 */

.page-1 aside {
	background-color: #373843;
	height: 100%;
	width: 20%;
}

.page-1 aside img {
	width: 32px;
	height: 32px;
}

.page-1 aside ul {
	margin: 0;
	padding: 0;
	height: 50%;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.page-1 aside ul li {
	color: white;
	list-style-type: none;
	padding-left: 10%;
	padding-right: 10%;
	height: 30%;
	display: flex;
	align-items: center;
}

.page-1 aside ul li:hover {
	background-color: #191B21;
	border-right: 4px solid #60A9FF;
}

.focus-fonce {
	background-color: #191B21;
	border-right: 4px solid #60A9FF;
}

.page-1 > main {
	display: flex;
	height: 87%;
}

.page-1 aside ul li a {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.page-1 aside ul li span {
	padding-left: 10%;
	width: 80%;
}


/* corps */

.page-1 article {
	height: 100%;
	width: 80%;
	display: flex;
}

.contenu-corps {
	height: 100%;
	width: 75%;
	display: flex;
	flex-direction: column;
}

.search-barre {
	display: none;
}

.contenu-corps img {
	width: 22px;
	height: 22px;
	padding-top: 3px;
	padding-bottom: 6px;
}

.ligne {
	display: flex;
	justify-content: space-between;
	margin-left: 4%;
	margin-right: 4%;
	margin-bottom: 4%;
}

.ligne > div {
	background-color: #B3CFF0;
	width: 22%;
	height: 120px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
}

.ligne > div > div:first-child {
	font-weight: 600;
	font-size: 18px;
}

.ligne > div > div:nth-child(3) {
	font-size: 11px;
	font-weight: 500;
	text-transform: uppercase;
	padding-bottom: 3px;

}

.ligne > div > div:last-child {
	font-size: 11px;
	font-weight: 200;
}

#ligne-1 {
	margin-top: 4%;
}

.color-chute {
	background-color: #FF0F4F !important;
}

.color-deambulation {
	background-color: #43D98E !important;
}

.color-levee {
	background-color: #698ADE !important;
}

.color-sortie {
	background-color: #9B85E6 !important;
}

.color-sdb {
	background-color: #E876DF !important;
}

.color-intrusion {
	background-color: #FFC15D !important;
}


/* menu droit */

.contenu-event {
	width: 25%;
	border-left: 1px solid #e8eaef;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titre-event {
	height: 60px;
	border-bottom: 1px solid #e8eaef;
	display: flex;
    justify-content: center;
    align-items: center;
	font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}

.contenu-event > div > div {
	display: flex;
	align-items: center;
	height: 50px;
	width: 100%;
}

.contenu-event > div > div > div:nth-child(2) {
	font-size: 13px;
	color: #777889;
	width: 60%;
	padding-left: 3px;
}

.contenu-event > div > div > div:first-child {
	font-weight: 600;
	font-size: 14px;
	width: 20%;
	text-align: center;
	color: #373843
}

.contenu-event > div > div > div:last-child {
	font-weight: 500;
	font-size: 12px;
	width: 20%;
	padding-right: 8px;
	color: #373843;
	text-align: right;
}

.chute-event {
	background-color: #FF0F4F;
}

.chute-event > img {
	height: 24px;
}

.chute-event > div {
	color: white !important;
}

.zzz {
	height: 15px;
}

.cacher {
	display: none;
}

#btn-alert {
	display: none; /*BOUTON RETOUR SUR EVENT*/
}
.contenu-event > div:last-child {
	/*display: flex;*/
	flex-direction: row-reverse;
}

.btn-rose {
	outline: none;
	width: 32%;
    height: 66px;
    background-color: #FF0F4F;
    border-radius: 50%;
    border: 0;
    margin-bottom: 15px;
    margin-right: 15px;
    box-shadow: 3px 5px 5px rgba(211,211,211, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn-rose img {
	width: 30px;
}


/* ------------------ page 2 : Journal des event --------------------- */


/* nav page 2 */

.page-2 nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 13%;
	background-color: white;
}

.page-2 nav div {
	width: 20%;
	height: 100%;
	background-color: #60A9FF;
	display: flex;
	align-items: center;
	justify-content: center;
}	

.page-2 nav h2 {
	margin: 0;
	color: white;
	font-family: 'Quicksand';
	font-size: 35px;
}

.page-2 nav img {
	width: 32px;
	height: 32px;
}

.page-2 form {
	width: 80%;
	height: 100%;
	display: flex;
	align-items: center;
	background-color: #F7F8FF;
	position:relative;
}

.page-2 nav i {
	font-size: 24px;
	color: #8a8a93;
	padding-left: 15px;
}

.page-2 nav input {
	outline: none;
	width: 93%;
	height: 100%;
	padding-left: 10px;
	font-size: 18px;
	background-color: #F7F8FF;
	border: 0;
}

.page-2 nav input::-webkit-input-placeholder {
	color: #8a8a93;
	font-weight: 200;
	font-style: italic;
}

.page-2 nav ul {
	display: flex;
	justify-content: space-between;
	width: 20%;
	margin: 0;
	padding: 0;
	height: 100%;
}

.page-2 nav ul li {
	list-style-type: none;
	height: 100%;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* menu gauche page 2 */

.page-2 aside {
	background-color: #373843;
	width: 20%;
	height: calc(100vh + 100px);
}

.page-2 aside img {
	width: 32px;
	height: 32px;
}

.page-2 aside ul {
	margin: 0;
	padding: 0;
	height: 40%;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.page-2 aside ul li {
	color: white;
	list-style-type: none;
	padding-left: 10%;
	padding-right: 10%;
	height: 30%;
	display: flex;
	align-items: center;
}

.page-2 aside ul li:hover {
	background-color: #191B21;
	border-right: 4px solid #60A9FF;
}

.page-2 > main {
	display: flex;
	height: 87%;
}

.page-2 aside ul li a {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.page-2 aside ul li span {
	padding-left: 10%;
	width: 80%;
}

/* Corps */

section#calendar {
	width: 80%;
}


.calendar {
	text-align: center;
	display: flex;
	justify-content: space-between;
	width: 100%;
	overflow-x: auto;
	flex-wrap: nowrap;
}

.calendar-nov {
	width: 300px;
	margin-right: 5%;
	flex: 0 0 auto; 
}

.calendar-dec {
	width: 300px;
	margin-right: 5%;
	flex: 0 0 auto; 
}

.calendar-jan {
	width: 300px;
	margin-right: 5%;
	flex: 0 0 auto; 
}

.calendar-fev {
	width: 300px;
	flex: 0 0 auto;
}

h3 {
	width: 100%;
    font-size: 16px;
    padding-left: 0;
    margin-right: 0;
    display: flex;
    color: #60A9FF;
}
.calendar-dec ul li {
	list-style-type: none;
}

li {
    display: inline;
}

ul.days {
	padding: 0;
    width: 100%;
    color: black;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

li.griser {
	color: lightgrey;
}

.days li {
	margin-top: 2%;
    margin-bottom: 5%;
    display: inline-block;
    width: 13%;
    height: 0;
    padding: 0 0 4%;
    font-weight: 300;
    box-sizing: border-box;
    position: relative;
    font-size: 16px;
}

.days-l1 {
	padding: 0;
    width: 100%;
    color: black;
    margin-bottom: 10px;
}

.days-l1 li {
	margin-top: 2%;
    margin-bottom: 0.5%;
    display: inline-block;
    width: 13%;
    height: 0;
    padding: 0 0 4%;
    font-weight: 300;
    box-sizing: border-box;
    position: relative;
    font-size: 16px;
}

/*#days ul {
	display: flex;
    align-items: center;
    justify-content: space-between;
}*/

div#evenements {
	margin-top: 2%;
	margin-left: 2%;
	margin-right: 2%;
	width: 96%;
}

div#evenements > div {
	justify-content: space-between;
    border-top: 1px solid lightgrey;
    display: flex;
}

div#evenements > div > p:nth-child(2) {
	flex: 1;
	color: grey;
}

div#evenements > div > p:first-child {
	min-width: 25%;
	font-weight: 700;
}

div#evenements > div > p:nth-child(3) {
	font-weight: 700;
}

/* ------------------ page 3 : Données du logement --------------------- */
.page3-form {
	width: 80% !important;
}

/* choisir un résident et une date */

.resident-choix {
	height: 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 15px;
	padding-right: 15px;
	background-color: white;
	box-shadow: 6px 3px 16px #d6dae0;
}

.resident-choix input {
	width: 50%;
	height: 50%;
	font-size: 15px;
	color: black;
	outline: none;
}

.resident-choix span {
	padding-right: 10px;
}

.resident-choix i {
	color: #373843;
}

.article-page3 {
	background-color: #F7F8FF;
	display: flex;
	flex-direction: column;
}

/* choisir la date calendar + période */

.agenda-periode {
	/*display: flex;*/
	display: none;
	height: 45%;
	background-color: white;
}

.agenda-periode > div:first-child {
	width: 70%;
}

.agenda-periode > div:last-child {
	background-color: #C5D9EF;
	width: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.agenda-periode > div:last-child input {
	border-radius: 5px;
	border: 0;
	height: 30px;
	width: 80%;
}

.agenda-periode > div:last-child > div:first-child {
	padding-top: 20px;
}

.agenda-periode > div:last-child > div:nth-child(2) {
	padding-top: 20px;
	width: 70%;
}
.agenda-periode > div:last-child > div:nth-child(2) > div {
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
	align-items: center;
}

.agenda-periode > div:last-child > button {
	font-size: 14px;
	background-color: #5DA4F8;
	border: 0;
	color: white;
	width: 70%;
	border-radius: 5px;
	padding: 10px;
	outline: none;
}

/* graphiques */

.graphiques {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.graphiques > div:first-child {
	background-color: white;
	height: 40%;
	width: 98%;
	border-radius: 5px;
	margin: auto;
}

.graphiques > div:last-child {
	height: 55%;
	width: 98%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

/* graphique bleu = frise */

.legende {
	display: flex;
	background-color: red;
}

.legende > div:first-child {
	width: 65%;
	background-color: blue;
}

.activ {
	display: flex;
	align-items: center;
	padding: 5px;
}

.activ > div:first-child {
	width: 40px;
	height: 8px;
	margin-right: 8px;
}

.activ > div:last-child {
	font-size: 13px;
}

.blue {
	background-color: #60A9FF;
}

.blue-light {
	
	background-color: #C5D9EF;
}

/* graphique circulaires */

.graphiques > div:last-child > div {
	background-color:white;
	border-radius: 5px;
	width: 49%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.graph-text {
	height: 85%;
	padding-left: 20px;
}

.canvas {
	height: 85%;
}

.graph-text > div{
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
}

.graph-text p {
	font-size: 13px;
	margin-bottom: 0;
	margin-top: 10px;
}

#myChart {
	width: 260px !important;
	height: 260px !important;
}

#myChart2 {
	width: 260px !important;
	height: 260px !important;
}

canvas {
	display: flex !important;
}

.canvas {
	display: flex;
	justify-content: flex-end
}

/* ------------------ page 4 : Ajout d'un résident --------------------- */


.page-4 nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 13%;
	background-color: white;
}

.page-4 nav div {
	width: 20%;
	height: 100%;
	background-color: #60A9FF;
	display: flex;
	align-items: center;
	justify-content: center;
}	

.page-4 nav h2 {
	margin: 0;
	color: white;
	font-family: 'Quicksand';
	font-size: 35px;
}

.page-4 nav img {
	width: 32px;
	height: 32px;
}

.page-4 nav i {
	font-size: 24px;
	color: #8a8a93;
	padding-left: 15px;
}


.page-4 nav ul {
	display: flex;
	justify-content: space-between;
	width: 20%;
	margin: 0;
	padding: 0;
	height: 100%;
}

.page-4 nav ul li {
	list-style-type: none;
	height: 100%;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.page-4 nav ul {
	display: flex;
    align-items: center;
    width: 80%;
    font-weight: 500;
}

.touch-form-1 {
	background-color: white;
}

.touch-form-2 {
	color: grey;
	border-radius: 0 0 0 10px;
	background-color: #F7F8FF;
}

.touch-form-3 {
	color: grey;
	background-color: #F7F8FF;
}

/* menu gauche page 4 */

.page-4 aside {
	background-color: #373843;
	width: 20%;
	height: calc(100vh + 100px);
}

.page-4 aside img {
	width: 32px;
	height: 32px;
}

.page-4 aside ul {
	margin: 0;
	padding: 0;
	height: 40%;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.page-4 aside ul li {
	color: white;
	list-style-type: none;
	padding-left: 10%;
	padding-right: 10%;
	height: 30%;
	display: flex;
	align-items: center;
}

.page-4 aside ul li:hover {
	background-color: #191B21;
	border-right: 4px solid #60A9FF;
}

.page-4 > main {
	display: flex;
	height: 87%;
}

.page-4 aside ul li a {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.page-4 aside ul li span {
	padding-left: 10%;
	width: 80%;
}

/* Corps */

section#donnees-perso {
    width: 80%;
}

.section-sexe div {
	display: flex;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1.5%;
    margin-top: 1.5%;
    justify-content: space-between;
    width: 90%;
    font-size: 14px;
    height: 100%;
}

.sectionform div {
	display: flex;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1.5%;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    font-size: 14px;
    height: 100%;
}


#femme img {
	width: 20%;
}

div#femme {
    display: flex;
    align-items: center;
}


#femme div {
	padding-left: 5px;
}

#homme img {
	width: 20%;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
}

div#homme {
    display: flex;
    align-items: center;
}

#homme div {
	padding-left: 5px;
}

.sexe {
	align-items: center;
}

.nom-prenom input {
	border: none;
    border-bottom: 0.6px solid grey;
    width: 100%;
    margin-left: 10px;
    outline: none;
}

div.nom {
	margin-right: 5px;
}

.mail-tel input {
	border: none;
    border-bottom: 0.6px solid grey;
    width: 100%;
    margin-left: 5px;
    outline: none;
}

.tel label {
	margin-left: 6px;
}

div.mail {
	margin-right: 5px;
}

/*.tel input {
	width: 230px;
}*/

/* DEBUT RANGE */

input#range {
	margin-left: 10px;
}

input[type=range],
input[type=range] + .thumb {
  cursor: pointer;
}

input[type=range] {
  position: relative;
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  margin: 10px 0;
  padding: 0;
}

input[type=range]:focus {
  outline: none;
}

input[type=range] + .thumb {
  position: absolute;
  top: 10px;
  left: 0;
  border: none;
  height: 0;
  width: 0;
  border-radius: 50%;
  background-color: #60A9FF;
  margin-left: 7px;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

input[type=range] + .thumb .value {
  display: block;
  width: 30px;
  text-align: center;
  color: #60A9FF;
  font-size: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

input[type=range] + .thumb.active {
  border-radius: 50% 50% 50% 0;
}

input[type=range] + .thumb.active .value {
  color: #fff;
  margin-left: -1px;
  margin-top: 8px;
  font-size: 10px;
}

input[type=range] {
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 3px;
  background: #c2c0c2;
  border: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: #60A9FF;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  margin: -5px 0 0 0;
  -webkit-transition: .3s;
  transition: .3s;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

input[type=range] {
  /* fix for FF unable to apply focus style bug  */
  border: 1px solid white;
  /*required for proper track sizing in FF*/
}

input[type=range]::-moz-range-track {
  height: 3px;
  background: #ddd;
  border: none;
}

input[type=range]::-moz-range-thumb {
  border: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #60A9FF;
  margin-top: -5px;
}

input[type=range]:-moz-focusring {
  outline: 1px solid #fff;
  outline-offset: -1px;
}

input[type=range]:focus::-moz-range-track {
  background: #ccc;
}

input[type=range]::-ms-track {
  height: 3px;
  background: transparent;
  border-color: transparent;
  border-width: 6px 0;
  /*remove default tick marks*/
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #777;
}

input[type=range]::-ms-fill-upper {
  background: #ddd;
}

input[type=range]::-ms-thumb {
  border: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #60A9FF;
}

input[type=range]:focus::-ms-fill-lower {
  background: #888;
}

input[type=range]:focus::-ms-fill-upper {
  background: #ccc;
}

/* FIN RANGE */

.nm-age input{
	border: 1px solid grey;
    height: 30px;
    width: 30px;
    border-radius: 15%;
    outline: none;
    text-align: center;
    font-size: 15px;
}

.nm-age label {
	width: 85%;
}

div.number input {
	border: 1px solid grey;
    height: 30px;
    width: 30px;
    border-radius: 20%;
    outline: none;
}

.rue input {
	border: none;
    border-bottom: 0.6px solid grey;
    width: 100%;
    margin-left: 5px;
    outline: none;
}

.postal input {
	border: none;
    border-bottom: 0.6px solid grey;
    width: 50%;
    margin-left: 5px;
    outline: none;
}

p.appel {
    margin-left: 4%;
    margin-bottom: 3%;
    margin-top: 3%;
    font-size: 13px;
    font-weight: 600;

}

input.btn1 {
	position: relative;
	display: block;
	height: 50px;
    width: 35%;
    margin: auto;
    border: 0;
    background-color: #60A9FF;
    color: white;
    font-size: 14px;
    font-weight: 200;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 50px;
}


/* ------------------ page 4 bis : Ajout d'un résident --------------------- */

.touch-formbis-1 {
	color: grey;
	background-color: #F7F8FF;
	border-radius: 0 0 10px 0;
}

.touch-formbis-2 {
	background-color: white;
}

.touch-formbis-3 {
	color: grey;
	background-color: #F7F8FF;
	border-radius: 0 0 0 10px;
}

#donnees-medicales {
	height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.sectionform2 div {
	display: flex;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 4%;
    margin-top: 4%;
    justify-content: space-between;
    width: 80%;
    align-items: center;
}

.all-btn {
	padding-left: 80px;
}

button.sanguin-blue {
	background-color: #60A9FF;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	border: none;
	font-size: 16px;
	color: white;
	font-weight: 200;
	outline: none;
	font-size: 14px;
}

button.sanguin-gris {
	background-color: #F7F8FF;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	border: none;
	font-size: 16px;
	color: grey;
	font-weight: 200;
	margin-left: 10px;
	outline: none;
	font-size: 14px;
}

.allergies input {
	width: 73%;
	outline: none;
	font-size: 14px;
	border: none;
    border-bottom: 0.6px solid grey;
    font-weight: 400;
    padding-bottom: 7px;
}

.sante input {
	width: 73%;
	outline: none;
	font-size: 14px;
	border: none;
    border-bottom: 0.6px solid grey;
    font-weight: 400;
    padding-bottom: 7px;
}

.suivi input {
	width: 73%;
	outline: none;
	font-size: 14px;
	border: none;
    border-bottom: 0.6px solid grey;
    font-weight: 400;
    padding-bottom: 7px;
}

.medicaments input {
	width: 73%;
	outline: none;
	font-size: 14px;
	border: none;
    border-bottom: 0.6px solid grey;
    font-weight: 400;
    padding-bottom: 7px;
}

/* ------------------ page 4 ter : Ajout d'un résident --------------------- */

.touch-formter-1 {
	color: grey;
	background-color: #F7F8FF;
}

.touch-formter-2 {
	color: grey;
	background-color: #F7F8FF;
	border-radius: 0 0 10px 0;
}

.touch-formter-3 {
	background-color: white;
}

#activites-assoc {
	height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.sectionform3 div {
	display: flex;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 4%;
    margin-top: 4%;
    justify-content: space-between;
    width: 80%;
    align-items: center;
}

.num-chambre input {
	border: 2px solid lightgrey;
	outline: none;
	font-size: 16px;
	text-align: center;
	border-radius: 5px; 
	height: 30px;
	width: 150px;
	margin-right: 250px;
}

div.num-chambre {
	margin-right: 200px;
}

p.reglages-alerte {
    margin-bottom: 3%;
    margin-left: 4%;
    margin-top: 3%;
    font-size: 14px;
}

.reglages input {
	height: 30px;
	width: 100px;
	border: 2px solid red;
}
